.container{
    display: inline-block;
    width: 100%;
    padding: 80px 0;    
}
    .container.hero{
        background-color: blue;
        padding-top: 80px;
        padding-bottom: 20px;
        background-image: url(../pics/background.png);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: cover;

    }
    .container.content{
        padding-top: 80px;
        padding-bottom: 20px;
    }

    .container.footer{
        background-color: blue;
        padding-top: 80px;
        padding-bottom: 20px;
    }

    .container > .hero-row{
        display: inline-block;
        width: 600px;
        margin-left: calc(50% - 300px);
        background-color: aqua;
    }
    .container > .row{
        display: inline-block;
        width: 1000px;
        margin-left: calc(50% - 500px);
    }

    .container > .row > .left{
        display: inline-block;
        width: 50%;
        float: right;
        background-color: red;
    }
    .container > .row > .right{
        display: inline-block;
        width: 40%;
        float: right;
        background-color: blue;
    }
    .container.footer{
        display: inline-block;
        background-color: blue;
    }

@media (max-width: 1100px) {
    .container > .row{
        width: 800px;
        margin-left: calc(50% - 400px);
    }

    
}
@media (max-width: 900px) {
    .container > .row{
        width: 600px;
        margin-left: calc(50% - 300px);
    }

}
@media (max-width: 700px) {
    .container > .row, 
    .container > .hero-row{
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
        margin-left: 0;}

        .container > .row > .left{
            display: inline-block;
            width: 100%;
        }
        .container > .row > .right{
            display: inline-block;
            width: 100%;
        }
        
}
